.MainDashboardContainer {
  display: grid;
  grid-template-rows: 80px 110px auto;
  grid-row-gap: 8px;
  box-sizing: border-box;
  align-items: stretch;
  width: 100%;
  background-color: #f4f6ff;
}
/* voice yet aahe ka maza */
.HeaderRow_1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #bdbdbd;
}

.PageHeader {
  padding: 1.5rem;
  font-size: 30px;
  font-weight: 600;
}

.DBSearchBar input {
  width: 20vw;
  border: none;
  padding: 14px;
  font-size: 1rem;
  border-radius: 16px;
  box-shadow: 1px 1px 2px #bdbdbd;
}

.ProfileContainer {
  display: flex;
  flex-direction: row;
  /* align-content: center; */
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: white;
}

.noticationIcon {
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 10px;
  background-color: #4054b2;
  border-radius: 200px;
  margin: 8px;
}

.ProfileIconContainer {
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 10px;
  background-color: #4054b2;
  border-radius: 200px;
}

.profileName {
  padding: 8px;
  font-size: 1rem;
  color: black;
}

.QuickReviewRow_2 {
  padding: 16px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.QRContainer {
  padding: 8px 24px;
  background-color: white;
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-auto-rows: 8vh;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 2px #bdbdbd;
  border-radius: 16px;
}

.QRHeading {
  font-size: 1.5rem;
  font-weight: 600;
}

.QRtrailingIcon {
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 12px;
  background-color: #4054b2;
  color: white;
  border-radius: 200px;
  margin: 10px;
  font-size: 1.5rem;
}

.MainGraphsRow_3 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2vh;
  padding: 2vh;
}

.chartContainer {
  background-color: white;
  box-shadow: 1px 1px 2px #bdbdbd;
  border-radius: 16px;
  padding: 2vh;
}

.progressBar {
  grid-column-start: 1;
  grid-column-end: 3;
} /*https://www.educative.io/edpresso/how-to-use-chartjs-to-create-charts-in-react*/

/*https://apexcharts.com/react-chart-demos/bar-charts/*/
