.Appbar-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 80px;
  background-color: #4054b2;
  padding: 0px;
  margin: auto auto;
}
/* .firstIcon {
  display: flex;
  align-content: center;
  justify-content: center;
} */
.firstIcon-button {
  height: 30px;
  width: 40px;
}
.brandIconStyle {
  padding: 10px;
  height: 46px;
  width: 56px;
  /* display: flex;
  align-content: center;
  justify-content: center; */
}

.ErrorIcon {
  display: flex;
  align-items: center;
  margin: 8px;
}

.ErrorIcon:hover {
  background-color: red;
  height: 40px;
  border-radius: 4px;
}
