.Appbar-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 80px;
  background-color: #4054b2;
  box-shadow: 0px 5px 16px 2px #bdbdbd;
}
.appBarHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 1rem;
}
.firstIcon-button {
  height: 30px;
  width: 40px;
}
.brandIconStyle {
  padding: 10px;
  height: 40px;
  width: 42px;
  margin-right: 0.5rem;
  /* display: flex;
  align-content: center;
  justify-content: center; */
}

.ErrorIcon {
  display: flex;
  align-items: center;
  margin: 8px;
}

.ErrorIcon:hover {
  background-color: red;
  height: 40px;
  border-radius: 4px;
}
