.login {
  width: 350px;
  height: 100%;
  position: relative;
  /* background: url(https://images.pexels.com/photos/4523150/pexels-photo-4523150.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500) */
  /* center center no-repeat; */
  /*https://images.unsplash.com/photo-1558470598-a5dda9640f68?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8Y29sb3J8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60
    https://media4.giphy.com/media/BHNfhgU63qrks/giphy.gif
    https://images.unsplash.com/photo-1513151233558-d860c5398176?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTh8fGNvbG9yfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60*/
  background-color: #f4f6ff;
  margin: 0% auto;
}
.login .form input.submit {
  background-color: #4054b2;
  font-size: 22px;
  color: #f4f6ff;
  font-weight: bold;
  border-radius: 8px;
  border: none;
  padding: 8px;
  box-shadow: 1px 1px 2px #bdbdbd;
}
.login .form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.login .form h2 {
  color: #fff;
  text-align: center;
  font-weight: normal;
  font-size: 18px;
  margin-top: 40px;
  margin-bottom: 80px;
}
.login .form input {
  height: 40px;
  margin: 10px 0px;
  background: white;
  color: black;
  font-weight: bold;
  font-family: Inter;
  border: none;
  border-left: 3px solid #4054b2;
  padding: 8px;
  font-size: 1rem;
  border-radius: 8px;
  box-shadow: 1px 1px 2px #bdbdbd;
}

.login .form input:focus {
  border: 1px solid rgba(255, 255, 255, 0.8);
  outline: none;
}
::-webkit-input-placeholder {
  color: black;
}

.checkBox {
  font-size: 16px;
  color: black;
  display: flex;
  justify-content: space-between;
}
.checkBox input {
  height: 30px;
  width: 30px;
}

label {
  font-size: 50px;
  font-weight: bold;
}
.button_back {
  height: 30px;
  width: 90px;
  background-color: #ff0000;
  border: none;
  color: white;
  /* padding: 15px 32px; */
  text-align: center;
  text-decoration: none;
  display: inline-block;

  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.main-error {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0%;
  right: 0;
  margin-top: 50%;
}

@media screen and (max-width: 600px) {
  .login {
    width: 100%;
  }
}
