.MNavContainer {
  height: 100vh;
  width: 5vw;
  background-color: #4054b2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: sticky;
  left: 0;
  top: 0;
  animation: fadein 0.3s ease-in-out;
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.MLogoContainer {
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

Mimg {
  height: auto;
}
.MDivider {
  background-color: white;
  border: none;
  height: 0.5px;
}

.MMenuContainer {
  padding: 10px 10px 10px 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
  color: white;
}

.MMenuContainer:hover {
  background-color: white;
  opacity: 0.7;
  color: black;
}

.MMenuIcon {
  font-size: 35px;
}

.MSecondContainer {
  padding: 10px 10px 10px 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  color: white;
}

.MLogOutIcon {
  padding-right: 20px;
  font-size: 35px;
}
