.timeline {
  margin: 90px 90px;
  height: 4px;
  background-color: #ccc;
  position: relative;
}

.timeline-progress {
  width: 0;
  height: 100%;
  background-color: #4054b2;
}

.timeline-items {
  margin-left: -10px;
  margin-right: -10px;
  margin-top: -12px;
  display: flex;
  justify-content: space-between;
}

.timeline-item {
  position: relative;
}

.timeline-item::before {
  content: "";
  width: 10px;
  height: 10px;
  background-color: white;
  display: block;
  border-radius: 100%;
  border: 8px solid #ccc;
}

.timeline-content {
  position: absolute;
  top: 36px;
  left: 50%;
  transform: translateX(-50%);
  color: black;
  width: 100px;
  padding: 5px 10px;
  border-radius: 5px;
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;

  color: #4f4f4f;
}
/* 
.timeline-content::before {
  content: "";
  width: 10px;
  height: 10px;
  background-color: #ddd;
  display: block;
  position: absolute;
  top: -8px;
  margin-left: -2px;
  left: 50%;
  transform: rotate(-45deg) translateX(-50%);
} */

.timeline-item.active::before {
  background-color: white;
}

.timeline-item.active::before {
  color: #fff;
  content: "";
  width: 10px;
  height: 10px;
  background-color: white;
  display: block;
  border-radius: 100%;
  border: 8px solid #4054b2;
}

.timeline-item.active .timeline-content::before {
  background-color: #4054b2;
}

.showError {
  display: block;
  position: absolute;
  bottom: 6vh;
  background: rgba(255, 0, 0, 0.15);
  /* text style */
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  /* or 140% */

  padding: 8px;

  color: #ff0000;
}

.showError::after {
  content: "";
  display: block;

  position: absolute;
  left: 0%;
  bottom: -20px;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 20px solid rgba(255, 0, 0, 0.15);
}
