* {
  box-sizing: border-box;
  font-family: sans-serif;
}
.login {
  width: 350px;
  /* height: 300px; */
  border: 1px solid #ccc;
  background: url(https://media4.giphy.com/media/BHNfhgU63qrks/giphy.gif) center
    center no-repeat;
  /*https://images.unsplash.com/photo-1558470598-a5dda9640f68?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8Y29sb3J8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60
      https://media4.giphy.com/media/BHNfhgU63qrks/giphy.gif
      https://images.unsplash.com/photo-1513151233558-d860c5398176?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTh8fGNvbG9yfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60*/
  background-size: cover;
  margin: 20px auto;
  border-radius: 20px;
}
.login .form {
  /* width: 100%;
  height: 100%; */
  padding: 15px 25px;
}
.login .form h2 {
  color: #fff;
  text-align: center;
  font-weight: normal;
  font-size: 18px;
  margin-top: 40px;
  margin-bottom: 80px;
}
.login .form input {
  width: 100%;
  height: 40px;
  margin-top: 10px;
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 0 15px;
  color: #fff;
  border-radius: 5px;
  font-size: 14px;
}
.login .form input:focus {
  border: 1px solid rgba(255, 255, 255, 0.8);
  outline: none;
}
::-webkit-input-placeholder {
  color: black;
}
.login .form input.submit {
  background: rgba(255, 255, 255, 0.9);
  color: #444;
  font-size: 15px;
  margin-top: 40px;
  font-weight: bold;
}
.checkBox {
  font-size: 12px;
  color: #fff;
  display: flex;
  justify-content: space-between;
}
.checkBox input {
  height: 10px;
  width: 10px;
}
